<html lang="en">
<head>
    <link rel="stylesheet" href="static/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
    <body>

    <nav class="navbar navbar-default bg-primary text-white">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" >Socrates</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>
</nav>

    
     {%if user_flag%}
    <p>{{message}}</p>
    {%else%}
    <div class="jumbotron">
      {%for user in users%}
        <p>Welcome {{user[0]}}!</p>
        <p>Your password is {{user[1]}}</p>
        {%endfor%}
    </div>
    {%endif%}

    	<div class="container">
  			<form class="form-horizontal" action="/" method="post">
    			<input type="text" name="username" id="username" placeholder="Username" required/>
    			<br>
    			<input type="password" name="password" id="password" placeholder="Password" required/>
    			<br>
    			<input type="submit" class="btn-info bg-info" value="Sign Up"/>
  			</form>
		</div>


</body>
</html>